@mixin font($font: 'Montserrat') {
    font-family: $font;
}
/*
html{
    scroll-snap-type: y proximity;
}

section, footer{
    scroll-snap-align: end;
}*/
.navbar-nav{
    
    .nav-item{
        padding-right: 40px;
    }
}

.font-1{
    @include font();
}

.font-2{
    font-family: 'Inter', sans-serif;
}

.description-tag{
    padding-top: 50px;
    font-size: 12px;
}  

.visibility-hidden{
    visibility: hidden;
}

.display-none{
    display: none;
}

.main-section{
    min-height: calc(100vh - 72px);
    overflow: hidden;
    background-color: #DCC1AB;
    .container{
        width: 100%;
    }
    .row{
        min-height: calc(100vh - 72px);
        overflow: hidden;
        .slider-prev,.slider-next{
            cursor: pointer;
        }
        .position-absolute{
            bottom: 0;
            right: 0;
            width: 180px;
            height: 90px;
            background-color: #F5F0EC;
            a{
                text-decoration: none;
                color: #000; 
            }
            .fa-arrow-left, .fa-arrow-right{
                font-size: 2rem;
            }   
        }

        .left-main-container{
            padding-left: 4.5rem;
            .btn-div{
                margin-top: 60px;

                button{
                    border-radius: 40px;
                    padding: 12px 25px;
                }
                
                .contact-btn{
                    background-color: #1B5B31;
                }
                
                .projects-btn{
                    border: solid 1px #1B5B31;
                    color: #1B5B31;
                    margin-left: 36px;
                    &:hover{
                        background-color: #1B5B31;
                        color: #fff
                    }
                }
            }
            h1{
                font-size: 3.5rem;
                font-weight: 600;
            }
            p{
                font-size: 1.25rem;
            }
        }

        .outer-img{
            padding: 0px;
            .img-div{
                height: calc(100vh - 72px);
                display: flex;
                justify-content: flex-start;

                .main-photo{
                    flex: 0 0 auto;
                    display: block;
                    min-width: 0;
                    width: 100%;
                    height: 100%;
                    max-height: 76rem;
                    max-width: none;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
    }   
}


.ofert-section{
    min-height: 100vh;
    background-color: #F5F0EC;

    h2{
        font-size: 3rem;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .top-row{
        padding-left: 160px;
    }
    .card{
        border: none;
        min-height: 364px;
        min-width: 250px;
        max-width: 378px;
        border-radius: 30px;
        padding: 20px;
        cursor: pointer;
        &:hover{
            background-color: #DCC1AB;
            transition: all 0.4s;
        }
        img{
            width: 44px;
            margin-left: 20px;
            padding-top: 20px;
        }
        h3{
            font-weight: 600;
            padding: 5px 0px;
        }
        .card-text{
            font-size: 14px;
            padding-bottom: 60px;
        }
        a{
            color: #1B5B31;
        }
    }
}

.about-section{
    min-height: 100vh;
    overflow: hidden;
    background-color: #1B5B31;

    .img-section{
        float: none;
        min-height: 100vh;
        position: relative; 

        img{
            width: auto;
            height: 100%;
            position:absolute;
            right: 0;
        }
    }
    h2{
        font-size: 3.5rem;
    }
    .flex-row{
        overflow: hidden;
    }
    .col-md-7{
        flex: 1;
        padding: 50px;
        background-color: #f2f2f2;
    }
    .btn-know-us{
        border-radius: 40px;
        color: #F5F0EC;
        border-color: #F5F0EC; 
        &:hover{
            color: #1B5B31;
            background-color: #F5F0EC;
        }
    } 
}



.projects-section{
    overflow: hidden;
    background-color: #DCC1AB;
    position: relative;
    
    
    img{
        padding: 0;
        cursor: pointer;
    }
    .text-div{
        margin-left: 160px
    }
    .masonry-div{
    max-height: 200vh;
    }   
    .more-div{
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 110vh;
        background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%); 
        z-index: 10;
        
    }

    .container-fluid{
        .header-projects{
            font-size: 3rem;
            font-weight: 600;
            line-height: 115%;
            letter-spacing: -1.44px;
        }   
    }  
}


.preview-div{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    height: 100%;
    font-size: 40px;
    .preview-background-div{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 80%;
        z-index: -1;
    }
    .close-div{
        position: relative;
        top: 0;
        right: 0;
        .fa-x{
            cursor: pointer;
        }
    }
    .img-div{
        width: 100%;
        .fa-chevron-left,.fa-chevron-right{
            cursor: pointer;
        }
        img{
            max-height: 80vh;
            max-width: 80vw;
        }
    }
}


.instagram-section{
    position: relative;
    .btn-div{
        position: absolute;
        width: 100vw;
        top: -140px;
        z-index: 10;
        button{
            border-radius: 40px;
        }
    }
    .bg-container{
        background-color: #1B5B31;
        .instagram-btn{
            border-radius: 40px;
            padding: 7px 25px;
            color: #1B5B31;
        }
    }
}

footer{
    background-color: #000;
    .container{
        .row{
            button{
                border-radius: 40px;
            }
        }
    }
    
}


@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }
     
    .main-section{
        .row{
            padding-left: 0px;
            .position-absolute{
                top: 0;
                right: 0;
                opacity: 50%;
                color: #f2f2f2;
                background-color: #000;
            }
            .outer-img{
                .img-div{
                    height: 30vh;
                }
            }
        }
    }
    .main-section{
        .row{
            padding-left: 0px;

        }   
    }
    body {
      padding:0;
    }
    .ofert-section{
        .top-row{
            padding: 2rem;
        }
    }
    .projects-section{
        .text-div{
            margin-left: 0;
        }
    }
}